.btn {
  font-weight: 500;
  padding: 12px 20px;
  background-color: #efefef;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s;

  &:hover {
    background-color: var(--second-color);
    color: var(--white-color);
  }
  > i {
    margin-left: 10px;
  }
}
