footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  background: #f8f8f8;
  padding-block: 40px 60px;

  .footer-menu {
    display: flex;

    .menu-item {
      list-style: none;

      a {
        text-decoration: none;
        color: var(--text-color);
        font-weight: 500;
        margin-inline: 20px;
      }
    }
  }
  .footer-icons {
    display: flex;
    gap: 30px;

    .icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.25);
      cursor: pointer;

      i:hover {
        color: var(--first-color);
      }
    }
  }
  .bottom-footer {
    font-size: 14px;
    margin-top: 10px;
  }
}
