.footer-menu {
  display: flex;

  .menu-item {
    list-style: none;

    a {
      text-decoration: none;
      color: var(--text-color);
      font-weight: 500;
      margin-inline: 20px;
    }
  }
}
