nav {
  border-color: var(--body-color);
  position: fixed;
  width: 100%;
  line-height: 90px;
  height: 90px;
  padding-inline: 9vw;
  display: flex;
  justify-content: space-between;

  .nav-logo {
    font-size: 30px;
    font-weight: 600;
    color: var(--logo-color);
  }
  ul {
    list-style: none;
    display: flex;

    .nav-link {
      text-decoration: none;
      font-weight: 500;
      padding-inline: 15px;
      margin-inline: 20px;
      color: var(--text-color);
    }
  }
}
